.logos{
    text-align: center;
    display: block;
}
h1{
    font-size: 24px;
}
.cabecalho{
    font-size: small;
    text-align: center;
}
.intro{
    font-size: small;
    display: block;
    width: 45%;
}
.consideracoes{
    font-size: small;
    text-align: left;
    display: block;
    width: 45%;
    position: relative;
    left: 50%;
    bottom: 550px;
}
.referencias{
    font-size: small;
    text-align: left;
    display: block;
    width: 45%;
    position: relative;
    left: 50%;
    bottom: 525px;
}